.message-list {
  display: flex;
  flex-direction: column;
  margin: 0 5%;

  .message-heading {
    display: flex;
    justify-content: center;

    .message-time {
      color: #5e5e5e;
      font-size: 14px;
    }
  }
}

.reply-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
