@import "../../styles/colors.scss";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: $dark-header-background;
  border-bottom: 1px solid $divider;
  padding: 12px 5%;

  .icon {
    color: $fb-blue;
    font-size: 28px;
    margin: 0 24px 0 0;
  }

  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 12px;
    color: $light-font;

    .title {
      font-size: 24px;
      margin: 0 0 2px 0;
    }

    .description {
      font-size: 12px;
      font-weight: normal;
      margin: 2px 0 0 0;
    }
  }

  .actions {
    margin-left: auto;

    .icon {
      cursor: pointer;
      color: $fb-blue;
      font-size: 28px;
      margin: 0 16px;
    }
  }
}
