.chat-bubble {
  font-size: xx-large;
  display: flex;
  border-radius: 50px;
  padding: 8px 15px;
  margin: 5px 25% 5px 12px;
  background-color: #eee;
  position: relative;
  width: fit-content;
  transform: translateX(-150%);
  // left: -500px;
  animation: slide 0.5s forwards;
  // animation-delay: 0.5s;
}

@keyframes slide {
  100% {
    transform: translateX(0%);
  }
}
