@import "../../styles/colors.scss";

.message {
  display: flex;
  align-items: flex-end;

  .chat-bubble {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    color: $light-font;
    background-color: $received-message-background;
    border-radius: 1.3em;
    font-size: 28px;
    padding: 8px 15px;
    margin: 3px 0 0 3px;

    &.sent {
      background-color: $fb-blue;
      color: $light-font;
      border: 2px solid $fb-blue;
      margin-left: auto;
    }

    &.action-btn {
      background-color: $dark-background;
      color: $fb-blue;
      border: 2px solid $fb-blue;
      margin: 0;
      justify-content: flex-end;

      &:hover {
        background-color: $fb-blue;
        color: white;
        cursor: pointer;
      }
    }

    &.received {
      background-color: $received-message-background;
    }
  }
}
